h1 {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin: 3rem 3rem;
  font-size: 2rem;
}

form {
  margin: 0 auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #001523;
  border-radius: 5px;
  /* border: 1px solid #27fb6b; */
  margin-top: 20px;
  box-shadow: 0px 0px 10px 0px #27fb6b;
}

button {
  background-color: #001523 !important;
  color: #bbb !important;
}

textarea {
  /* height: 120px; */
  resize: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 2rem;
}
