.example-container {
  width: auto;
  height: 80%;
  /* margin: 10px; */
  /* border: 1px solid #555; */
  background-color: black;
  color: #00ff41;
}


.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.social button {
  padding: 6px;
  cursor: pointer;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

button svg {
  height: 2rem;
  width: 2rem;
  fill: #3f51b5;     /* svg color */
}

mat-icon-button .social_icon {
  width: 20px;
  padding: 0;
  margin: 0;
  border: 2px solid blue !important;
}

mat-list button {
  width: 100%;
  text-align: left;
}
