<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>

      <!-- combinar HOME y About Me ???-->
      <mat-list-item>
        <button routerLink="/home" color="primary" mat-raised-button>
          Home
        </button>
      </mat-list-item>
      
      <mat-divider></mat-divider>

      <mat-list-item>
        <button routerLink="/aboutme" color="primary" mat-raised-button>
          About Me
        </button>
      </mat-list-item>
      <!-- combinar HOME y About Me ??? -->

      <mat-divider></mat-divider>
           
      
      <mat-divider></mat-divider>
      
      <mat-list-item>
        <button routerLink="/projects" color="primary" mat-raised-button>
          Projects
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button routerLink="/resume" color="primary" mat-raised-button>
          Resume
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      
      <mat-list-item>
        <button routerLink="/contact" color="primary" mat-raised-button>
          Contact
        </button>
      </mat-list-item>
      
    </mat-list>
    <mat-divider></mat-divider>
    
    


    

  </mat-drawer>
  
  <mat-drawer-content>
    Main contentt
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
