.example-container {
  width: 100%;
  height: 90%;
  background-color: black;
  color: #00ff41;
}
#sider {
  background-color: #001523;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 30rem;
}
.social-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 5px;
  }
  .social-button svg {
    fill: #27fb6b;
  }

  svg:hover {
    background-color: #001523;
    /* color: #ccd6f6; */
    /* color: red; */
  }