<section>
    <h1>Projects:</h1>

    <div class="embedded">
      <div class="project">
        <h5>Project Name</h5>
        <img src="../../assets/img/card1.jpg" alt="card">
        <button mat-raised-button color="primary" onclick="window.open('https://gabserna.github.io/401A-Bootstrap-project/Desktop/401A-Bootstrap-project/index.html', '_blank');">Open</button>
      </div>
    
      <div class="project">
        <h5>Project Name</h5>
        <img src="../../assets/img/card2.jpg" alt="card">
        <button mat-raised-button color="primary" onclick="window.open('https://gabserna.github.io/W6D3-Grid-project/', '_blank');">Open</button>
      </div>

    
      <div class="project">
        <h5>Project Name</h5>
        <img src="../../assets/img/card3.jpg" alt="card">
        <button mat-raised-button color="primary" onclick="window.open('https://gabserna.github.io/expense-tracker/', '_blank');">Open</button>
      </div>

    
      <div class="project">
        <h5>Project Name</h5>
        <img src="../../assets/img/card4.jpg" alt="card">
        <button mat-raised-button color="primary" onclick="window.open('https://user-manager-gabserna.onrender.com/newUser', '_blank');">Open</button>
      </div>

    
      <div class="project">
        <h5>Project Name</h5>
        <img src="../../assets/img/card5.jpg" alt="card">
        <button mat-raised-button color="primary" onclick="window.open('https://gabserna.github.io/301A-SASS-Project/', '_blank');">Open</button>
      </div>

    
      <div class="project">
        <h5>Project Name</h5>
        <img src="../../assets/img/card6.jpg" alt="card">
        <button mat-raised-button color="primary" onclick="window.open('https://gabserna.github.io/todo-list/', '_blank');">Open</button>
      </div>
      
    </div>
  </section>