.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
mat-toolbar {
  /* background-color: #112240; */
  background-color: #001523;
}

button {
  cursor: pointer;
  border: none;
  color: #27fb6b !important;
}
button:hover {
  background-color: #c1cae9;
  color: #112240 !important;
}

svg {
  fill: blue;
}

.darkMode {
  padding-right: 2rem;
  background-color: #112240;
}