:root {
  --green: #40cf8e;
  --green2: #27fb6b;
  --text-color: #bbbbbb;
  --white-color: #ededed;
  --black-color: #131313;
}

body {
  margin: 0 auto;
  width: 90%;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-left: 2rem;
  font-size: 2rem;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  /* padding: 0.5em 0 0.5em 0; */
  margin: 0;
}

.embedded {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  -webkit-user-select: none;
  user-select: none;
}

.project {
  width: 20vw;
  height: 30vh;
  padding: 0.5em;
  display: grid;
  place-items: center;
  border: 1px solid #909090;
  border-radius: 15px;
  overflow: hidden;
}

img {
  width: 30%;
  height: 50%;
  object-fit: contain;
  top: 0;
  left: 0;
}

mat-card {
  width: 320px;
  height: 150px;
  background-color: #001523;
  border: 1px solid #27fb6b;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
mat-card :hover {
    transform: translateY(-2px);
    /* box-shadow: 0px 0px 10px 0px #27fb6b; */
}

mat-card-header,
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-footer {
  padding-bottom: 2em;
}

mat-card-subtitle {
  color: #bbbbbb !important;
}

.card img {
  display: flex;
  justify-content: center;
  align-self: center;
}

  

.card-avatar {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#lang {
  height: 1.5rem;
  padding: 0 8px 0 8px;
  /* border-radius: 5px; */
  margin: 5px;
  font-size: 12px;
  color: #27fb6b;
  cursor: auto;
  border: 2px solid #27fb6b;
}


mat-card-title {
  width: 10rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #27fb6b;
}

.svgs {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

svg {
  font-size: 1rem;
  cursor: pointer;
}

svg:hover {
  color: #bbbbbb;
}

.tech {
  gap: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  cursor: text;
}

span {
  color: #27fb6b;
  border: 1px solid #27fb6b;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: #40cf8f0f;
}

span:hover {
  background-color: #27fb6b;
  color: #001219;
}










/* on hover effect */
.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

png {
  color: #27fb6b;
}