<hr>
<div class="mainContainer">
  <h1 class="header">Projects</h1>
  <section>
    <div class="embedded">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">
            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/golf-score/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/golf-score/', '_blank');">
            </div>
          </div>
          <mat-card-title>Golf Score card</mat-card-title>
          <mat-card-subtitle>api request</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Next.js</span>
          <span>React Native</span>
          <span>TypeScript</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/newsApp/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/newsApp/', '_blank');">
            </div>

          </div>
          <mat-card-title>InfoHub News</mat-card-title>
          <mat-card-subtitle>api request with auth</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">


            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/expense-tracker/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/expense-tracker/', '_blank');">
            </div>

          </div>
          <mat-card-title>Expense tracker</mat-card-title>
          <mat-card-subtitle>crud app</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/todo-list/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/todo-list/', '_blank');">
            </div>

          </div>
          <mat-card-title>To-do list</mat-card-title>
          <mat-card-subtitle>crud app</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/resume-mockup-sass', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/resume-mockup-sass/', '_blank');">
            </div>
          </div>
          <mat-card-title>Developer Resume</mat-card-title>
          <mat-card-subtitle>dev skills mockup</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/devschool-carousell', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/devschool-carousell/', '_blank');">
            </div>
          </div>
          <mat-card-title>DevCourse School</mat-card-title>
          <mat-card-subtitle>carousell mockup</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/W6D4/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/W6D4/', '_blank');">
            </div>
          </div>
          <mat-card-title>Chatroom</mat-card-title>
          <mat-card-subtitle>crud app</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/ryparis/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/ryparis/index.html', '_blank');">
            </div>
          </div>
          <mat-card-title>RY Paris Restaurant</mat-card-title>
          <mat-card-subtitle>menu mockup</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/reg_app/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/reg_app/', '_blank');">
            </div>
          </div>
          <mat-card-title>Student Register</mat-card-title>
          <mat-card-subtitle>CAPSTONE</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="avatar">

            <div class="svgs">
              <img src='/assets/svg/github.svg' alt='github'
                onclick="window.open('https://github.com/gabserna/W6D3-Grid-project/', '_blank');">
              <img src='/assets/svg/link.svg' alt='github'
                onclick="window.open('https://gabserna.github.io/W6D3-Grid-project/', '_blank');">
            </div>
          </div>
          <mat-card-title>Simple grid game</mat-card-title>

          <mat-card-subtitle>CSS</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-footer class="tech">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Firebase</span>
        </mat-card-footer>
      </mat-card>
    </div>
  </section>
</div>