<section>
  <h1>Projects:</h1>

  <div class="embedded">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/golf-score/', '_blank');"
              >
              <!-- <title>github repo</title> -->
              <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            
            <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/golf-score/', '_blank');"
              >
              <!-- <title>link to page</title> -->
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>Golf Score card</mat-card-title>
        <mat-card-subtitle>api request</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Next.js</span>
        <span>React Native</span>
        <span>TypeScript</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/newsApp/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
          5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>

            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/newsApp/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>InfoHub News</mat-card-title>
        <mat-card-subtitle>api request with auth</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/expense-tracker/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>

            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/expense-tracker/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>Expense tracker</mat-card-title>
        <mat-card-subtitle>crud app</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/todo-list/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>

            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/todo-list/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>To-do list</mat-card-title>
        <mat-card-subtitle>crud app</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/301A-SASS-Project/tree/master', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/301A-SASS-Project/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>Developer Resume</mat-card-title>
        <mat-card-subtitle>dev skills mockup</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/401A-Bootstrap-project/tree/master/Desktop/401A-Bootstrap-project', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/401A-Bootstrap-project/Desktop/401A-Bootstrap-project/index.html', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>DevCourse School</mat-card-title>
        <mat-card-subtitle>carousel mockup</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/W6D4/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/W6D4/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>Chatroom</mat-card-title>
        <mat-card-subtitle>crud app</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/ryparis/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/ryparis/index.html', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>RY Paris Restaurant</mat-card-title>
        <mat-card-subtitle>menu mockup</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/reg_app/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/reg_app/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>Student Register</mat-card-title>
        <mat-card-subtitle>CAPSTONE</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <div class="svgs">
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://github.com/gabserna/W6D3-Grid-project/', '_blank');"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 
            5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://gabserna.github.io/W6D3-Grid-project/', '_blank');"
            >
              <path
                d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
              ></path>
              <path
                d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
              ></path>
            </svg>
          </div>
        </div>
        <mat-card-title>grid game</mat-card-title>

        <mat-card-subtitle>REMOVE????</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-footer class="tech">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>Firebase</span>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
