<section>
  <h1>Projects:</h1>
  
  <div class="embedded">
    
    <mat-card class="card" onclick="window.open('https://gabserna.github.io/golf-score/', '_blank');">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card1.jpg)'}" class="card-avatar" alt="project"></div>
        <mat-card-title>Golf Score card</mat-card-title>
        <p>icons git & link</p>

        <mat-card-subtitle>api request</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <button id="lang" mat-flat-button>node</button>
        <button id="lang" mat-flat-button>JavaScript</button>
        <button id="lang" mat-flat-button>xxxxxx</button>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="card" onclick="window.open('https://gabserna.github.io/newsApp/', '_blank');">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card2.jpg)'}" class="card-avatar" alt="project"></div>
        <mat-card-title>InfoHub News</mat-card-title>
        <mat-card-subtitle>api request with auth</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <button id="lang" mat-flat-button>Angular</button>
        <button id="lang" mat-flat-button>TypeScript</button>
        <button id="lang" mat-flat-button>Firebase</button>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="card" onclick="window.open('https://gabserna.github.io/expense-tracker/', '_blank');">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card3.jpg)'}" class="card-avatar" alt="project"></div>
        <mat-card-title>Expense tracker</mat-card-title>
        <mat-card-subtitle>crud app</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <button id="lang" mat-flat-button>Angular</button>
        <button id="lang" mat-flat-button>TypeScript</button>
        <button id="lang" mat-flat-button>Firebase</button>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="card" onclick="window.open('https://gabserna.github.io/todo-list/', '_blank');">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card4.jpg)'}" class="card-avatar" alt="project"></div>
        <mat-card-title>To-do list</mat-card-title>
        <mat-card-subtitle>crud app</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <button id="lang" mat-flat-button>Angular</button>
      <button id="lang" mat-flat-button>TypeScript</button>
      <button id="lang" mat-flat-button>Firebase</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" onclick="window.open('https://gabserna.github.io/301A-SASS-Project/', '_blank');">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card5.jpg)'}" class="card-avatar" alt="project"></div>
          <mat-card-title>Developer Resume</mat-card-title>
          <mat-card-subtitle>dev skills mockup</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-content>
          <button id="lang" mat-flat-button>Angular</button>
        <button id="lang" mat-flat-button>TypeScript</button>
        <button id="lang" mat-flat-button>Firebase</button>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="card" onclick="window.open('https://gabserna.github.io/401A-Bootstrap-project/Desktop/401A-Bootstrap-project/index.html', '_blank');">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card6.jpg)'}" class="card-avatar" alt="project"></div>
        <mat-card-title>DevCourse School</mat-card-title>
        <mat-card-subtitle>carousel mockup</mat-card-subtitle>
      </mat-card-header>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <button id="lang" mat-flat-button>Angular</button>
      <button id="lang" mat-flat-button>TypeScript</button>
      <button id="lang" mat-flat-button>Firebase</button>
      </mat-card-content>
    </mat-card>
    
    
    <mat-card class="card" onclick="window.open('https://gabserna.github.io/W6D4/', '_blank');">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card7.jpg)'}" class="card-avatar" alt="project"></div>
          <mat-card-title>Chatroom</mat-card-title>
          <mat-card-subtitle>crud app</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-content>
          <button id="lang" mat-flat-button>Angular</button>
        <button id="lang" mat-flat-button>TypeScript</button>
        <button id="lang" mat-flat-button>Firebase</button>
        </mat-card-content>
      </mat-card>


      <mat-card class="card" onclick="window.open('https://gabserna.github.io/ryparis/index.html', '_blank');">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card8.jpg)'}" class="card-avatar" alt="project"></div>
          <mat-card-title>RY Paris Restaurant</mat-card-title>
          <mat-card-subtitle>menu mockup</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-content>
          <button id="lang" mat-flat-button>Angular</button>
          <button id="lang" mat-flat-button>TypeScript</button>
          <button id="lang" mat-flat-button>Firebase</button>
        </mat-card-content>
      </mat-card>


      <mat-card class="card" onclick="window.open('link to project', '_blank');">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card9.jpg)'}" class="card-avatar" alt="project"></div>
          <mat-card-title>Student Register</mat-card-title>
          <mat-card-subtitle>CAPSTONE</mat-card-subtitle>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-content>
          <button id="lang" mat-flat-button>Next.js</button>
        <button id="lang" mat-flat-button>TypeScript</button>
        <button id="lang" mat-flat-button>Tailwind</button>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="card" onclick="window.open('https://gabserna.github.io/W6D3-Grid-project/', '_blank');">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../../assets/img/card0.jpg)'}" class="card-avatar" alt="project"></div>
          <mat-card-title>simple grid game</mat-card-title>
          <mat-card-subtitle>REMOVE????</mat-card-subtitle>
        </mat-card-header>
    <mat-divider> </mat-divider>
        <mat-card-content>
          <button id="lang" mat-flat-button>Angular</button>
        <button id="lang" mat-flat-button>TypeScript</button>
        <button id="lang" mat-flat-button>Firebase</button>
        </mat-card-content>
      </mat-card>

    </div>
  </section>