body {
  margin: 0 auto;
  width: 90%;
}

h1 {
  margin-left: 2rem;
  font-weight: bolder;
  margin: 1rem 0 1rem 0;
  color: #27fb6b;
  text-align: left !important;
  font-size: 2.5rem;
  font-style: italic;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.embedded {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  -webkit-user-select: none;
  user-select: none;
}

mat-card {
  width: 320px;
  height: 150px;
  background-color: #001523;
  border: 1px solid #27fb6b;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
mat-card :hover {
  transform: translateY(-2px);
  /* box-shadow: 0px 0px 10px 0px #27fb6b; */
}

mat-card-header,
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-footer {
  padding-bottom: 2em;
}

mat-card-subtitle {
  color: #bbbbbb !important;
}

img {
  width: 30%;
  height: 50%;
  object-fit: contain;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  cursor: pointer;
}

mat-card-title {
  width: 10rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #27fb6b;
}

.svgs {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.tech {
  gap: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  cursor: text;
}

span {
  color: #27fb6b;
  border: 1px solid #27fb6b;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: #40cf8f0f;
}

span:hover {
  background-color: #27fb6b;
  color: #001219;
}
