<div class="aboutContainer">

  <h1>About Me</h1>
  <img id="me" src="../../assets/me.jpg" alt="me">
  <section>
    Hey! I'm Gabe Serna, a web developer from Cancun, Mexico, creating digital experiences since '93.
    Certified in Web Programming & Development from MTECH College, my journey spans languages like Cobol to the latest in JavaScript and TypeScript.
    I have experience in frameworks like React, Angular, Express.js, and love exploring Next.js and Vuetify.
  </section>
  <br>
  <section>
    My focus includes ensuring code quality with Jasmine and Cypress, hands-on experience with MongoDB, PostgreSQL, containerized environments using Docker and Kubernetes,
    also cloud services like AWS Cloud Foundations. My frontend magic involves Tailwind, Bootstrap, and Material UI.
    Always hungry for knowledge, I'm on the lookout for the next big tech adventure. Dive into my portfolio, and let's build something awesome together!
  </section>
  <br>
  
  <mat-divider></mat-divider>
  
  <section>
    <h2>Certificate in AWS Cloud Foundations</h2>
    <p>
      <a target="_blank">
        <img src="../../assets/aws_cloud_foundations.png" alt="aws" />
      </a>
    </p>
  </section>
  
</div>

<!-- <div class="folder">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-folder"
  >
    <title>Folder</title>
    <path
      d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"
    ></path>
  </svg>
</div> -->

<!-- <span>
    <a href="https://v4.brittanychiang.com/"><h1>inspiration </h1></a>
</span> -->
