<div class="mainContainer">
  <div class="about">
    <section>
      <h1 class="header">About me</h1>
      Hello! I'm Gabe Serna, a passionate web developer from Cancun, Mexico, I love creating digital experiences.
      <mat-divider></mat-divider>
      <br />
      My fascination with programming began in the 90s, where I discovered how
      my creativity could materialize through code. With perseverance and commitment, I specialized as a frontend developer, always excited to learn
      new technologies and tackle constant challenges. I'm on the lookout for the next big tech adventure.
      <mat-divider></mat-divider>
      <br />
      Dive into my portfolio, and let's build something awesome together!

      <mat-divider></mat-divider><br />
      <h2>Skills Toolbox:</h2>
      <div class="skills">
        <span>React</span>
        <span>Angular</span>
        <span>JS</span>
        <span>TS</span>
        <span>Tailwind</span>
        <span>MUI</span>
        <span>Sass</span>
        <span>Node</span>
        <span>Express</span>
        <span>Firebase</span>
        <!-- <span>AWS</span> -->
        <span>Jasmine</span>
        <span>Cypress</span>
        <!-- <span>Postman</span> -->
        <span>Git</span>
        <span>GitHub</span>
        <span>DB</span>
        <span>AWS Cloud Foundations</span>
      </div>

      <img id="me" src="../../assets/me.jpg" alt="me" />
    </section>
  </div>
  <mat-divider />
</div>
