<div class="mainContainer">
  <div class="about">
    <section>
      <h1 class="animate__animated animate__slideInDown header">About me</h1>
      Hello! I'm Gabe Serna, a passionate web developer from Cancun, Mexico, I love creating digital experiences.
      <mat-divider></mat-divider>
      <br />
      My fascination with programming began in the 90s, where I discovered how
      my creativity could materialize through code. With perseverance and commitment, I specialized as a frontend
      developer, always excited to learn
      new technologies and tackle constant challenges. I'm on the lookout for the next big tech adventure.
      <mat-divider></mat-divider>
      <br />
      Dive into my portfolio, and let's build something awesome together!

      <mat-divider></mat-divider><br>
      <h2 class="animate__animated animate__slideInDown">Skills Toolbox:</h2>
      <div class="skills">
        <span>React</span>
        <span>Angular</span>
        <span>JS</span>
        <span>TS</span>
        <span>Tailwind</span>
        <span>MUI</span>
        <span>Sass</span>
        <span>Node</span>
        <span>Express</span>
        <span>Firebase</span>
        <!-- <span>AWS</span> -->
        <span>Jasmine</span>
        <span>Cypress</span>
        <!-- <span>Postman</span> -->
        <span>Git</span>
        <span>GitHub</span>
        <span>DB</span>
        <span>AWS Cloud Foundations</span>
      </div>

      <mat-divider></mat-divider><br>
      <h2 class="animate__animated animate__slideInDown">Hobbies & Interest:</h2>
      <div class="hobbies">
        <span>Passionate about programming 💻</span>
        <span>Night fishing enthusiast 🎣🌴🌊</span>
        <span>Curious explorer of how things work 🔍📖</span>
        <span>Family time lover ❤️</span>
        <span>Culture explorer 🌍✈️</span>
        <span>SciFi movie buff 🚀🎬</span>
        <span>BBQ grill master 🔥🍖</span>
        <span>Nature lover 🌳🏞️</span>
        <span>Food: Mexican & Mongolian BBQ 🌮🥩</span>
        <span>Reggae music lover 🎶🌴</span>
      </div>
      <mat-divider></mat-divider><br>

      <h2 class="animate__animated animate__slideInDown">Favorite Spotify playlist:</h2>
      <div class="skills">
        <div class="spotify-player">
          <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/1OQd3OmqhsciJog4PbnAts?utm_source=generator"
            width="100%" height="80" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>

      <img class="animate__animated animate__slideInDown" id="me" src="../../assets/me.jpg" alt="me" />
    </section>
  </div>
  <mat-divider />
</div>