@import url("../../../styles.css");

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  font-family: "Red Hat Display", sans-serif;
  font-style: italic;
  font-size: 1rem;
  padding: 1rem 3rem;
  line-height: 1.5;
  width: 55%;
}

svg {
  width: 50px;
}

#me {
  width: 20vw;
  height: auto;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 10%;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

span {
  font-size: 0.8rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 2px solid #27fb6b;
}

span:hover {
  background-color: #27fb6b;
  color: #001219;
}

.skills {
  width: auto;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}