@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,900;1,500;1,900&display=swap');

* {
  user-select: none;
  -webkit-user-drag: none;
}

.container {
  /* height: 100%; */
  background-color: #001523;
  margin: 0;
  padding: 0;
}
