html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0 auto;
    background-color: #858585;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
}
