@import 'material-icons/iconfont/material-icons.css';

html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0 auto;
    background-color: #001219;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
}

