resume {
    display: flex;
    justify-content: center;
    
}
h1 {
  margin-left: 2rem;
  font-weight: bolder;
  margin: 1rem 0 1rem 0;
  color: #27fb6b;
  text-align: left !important;
  font-size: 2.5rem;
  font-style: italic;
}
.interested {
  margin: 5rem 0 5rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: #bbbbbb;
  
  .resume {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 2rem;
}

a {
    text-decoration: none;
    color: #27fb6b;
}
a:hover {
    color: #bbbbbb;
}