<div class="mainContainer">
  <h1 class="animate__animated animate__slideInDown header">Discover more about my journey!</h1>

  <div class="interested">

    <p>Interested in learning more about my experience and skills?</p>
    <p>Click below to take a peek at my
      <strong><a href="assets/resumegs.pdf" target="_blank">RESUME</a></strong>
      in a new tab.</p>
      
    </div>
  
  

<!-- <ul>
  <p>CERTIFICATIONS</p>
  <li>Responsive Web Design (Oct, 2022)</li>
  <li>JavaScript Algorithms and Data Structures (Dec 2022)</li>
  <li>Front End Development Libraries (Mar, 2023)</li>
  <li>Relational Database (Mar, 2023)</li>
  <li>AWS Academy Cloud Foundations (July 2023)</li>
  <li>Backend Development and API (Aug, 2023)</li>
</ul> -->

</div>