<div class="mainContainer">
  <h1 class="animate__animated animate__slideInDown header">Resume</h1>

  <div class="interested">

    <p>Discover more about my journey!</p>
    <p>learn more about my experience and skills</p>
    <p>Click to take a peek at my</p>
    <h2 class="resume"><strong><a href="assets/test.pdf" target="_blank">👉 RESUME 👈</a></strong></h2>
  </div>



  <!-- <ul>
  <p>CERTIFICATIONS</p>
  <li>Responsive Web Design (Oct, 2022)</li>
  <li>JavaScript Algorithms and Data Structures (Dec 2022)</li>
  <li>Front End Development Libraries (Mar, 2023)</li>
  <li>Relational Database (Mar, 2023)</li>
  <li>AWS Academy Cloud Foundations (July 2023)</li>
  <li>Backend Development and API (Aug, 2023)</li>
</ul> -->

</div>